fastapi
uvicorn
langchain
langchain-openai
langchain-ollama
langgraph
python-multipart
PyPDF2
python-docx
faiss-cpu>=1.8.0
pydantic
pydantic-settings
PyYAML
numpy
tiktoken
langchain-community
dashscope